#Contact html {
  backgound-color: black;
}

#Contact nav {
  background-color: black;
}

#Contact .NavLinks a {
  color: white;
}

#Contact .pageTitle {
  text-align: left;
  position: relative;
  margin-top: 3rem;
}

#Contact .divider {
  position: absolute;
  bottom: 0;
  border: 2px solid #D86666;
  width: 10%;
  left: 0;
}

#Contact .ContactUsHead {
  color: #161C53;
  font-weight: bold;
  font-family: 'MadeTommyExtraBold';
  font-size: 2.25rem;
  padding-bottom: 1rem;
}

#Contact .ContactUsTable {
   border-collapse: separate;
   border-spacing: 0 1rem;
}

#Contact .ContactUsTableLabel {
 vertical-align:top;
 text-align:left;
 font-weight: bold;
 padding-right: 1rem;
}

#Contact .ContactUsTableText {
 vertical-align:top;
 text-align:left;
 font-weight: normal;
 padding-right: 1rem;
}

#Contact .RedText {
  color: #D86666;
  font-weight: bold;
}

#Contact .letsWorkTogether {
  text-align: left;
}
.button-row {
  text-align: right;
}

#Contact .FirstName {
  padding-right: 0.5rem;
  width: calc(50% - 0.5rem);
  display: inline-block;
}

#Contact .LastName {
  padding-left: 0.5rem;
  width: calc(50% - 0.5rem);
  display: inline-block;
}

#Contact .FirstName .MuiTextField-root,
#Contact .LastName .MuiTextField-root {
  width: 100%;
}

#Contact .input-field {
  padding: 1rem 0 0 0 !important;
}

#Contact .Container {
  width: 600px;
  margin: auto;
}

#Contact .Container .button {
  border-radius: 1.2rem;
  margin: 1rem 0;
}


/* Simple Phone */
@media only screen and (max-width: 450px) {
  

  #Contact .pageTitle {
    margin-top: 0;
    text-align: center;
  }
  #Contact .divider {
    width: 30%;
    left: 35%;
  }

  #Contact .Container {
    width: auto;
    margin: auto;
  }
  
  #Contact .FirstName {
    padding-right: 0;
    width: auto;
    display: block;
  }

  #Contact .LastName {
    padding-left: 0;
    width: auto;
    display: block;
  }

  #Contact .input-field {
    padding: 0.5rem 0 0 0 !important;
  }

  #Contact .button-row {
    text-align: center;
  }
}